<div class="bg-dark" style="position: relative;">
  <!-- header -->
  <nav class="navbar navbar-expand-lg netflix-navbar netflix-padding-left netflix-padding-right">
    <div class="container-fluid">
      <div class="netflix-row">
        <div class="left d-flex align-items-center">
          <a class="navbar-brand" href="#">
            <img src="../assets/images/logo.png" alt="">
          </a>
          <div class="netflix-nav">
            <section>
              <button>Home</button>
              <button>TV Shows</button>
              <button>Movies</button>
              <button>News & Popular</button>
              <button>My List</button>
            </section>
          </div>
          <div class="netflix-dropdown-box dropdown">
            <button class="netflix-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Browse
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Home</a></li>
              <li><a class="dropdown-item" href="#">TV Shows</a></li>
              <li><a class="dropdown-item" href="#">Movies</a></li>
              <li><a class="dropdown-item" href="#">News & Popular</a></li>
              <li><a class="dropdown-item" href="#">My List</a></li>
            </ul>
          </div>
        </div>
        <div class="right d-flex align-items-center">
          <i class="bi bi-search"></i>
          <i class="bi bi-bell-fill"></i>
          <section class="netflix-profile">

          </section>
        </div>
      </div>
    </div>
  </nav>
  <!-- end header -->

  <!-- video -->
  <div class="">
    <section class="netflix-home-video">
      <div class="top"></div>
      <div class="bottom"></div>
      <video src="../assets/video/video.mp4" autoplay muted loop></video>
      <div class="content">
        <section class="left">
          <img src="../assets/images/image2.webp" alt="">

          <div class="d-flex mt-2">
            <button class="btn btn-light m-2"> <i class="bi bi-play-fill" style="color: black; padding: 0%;"></i> Play
              Now </button>
            <button class="btn btn-secondary m-2"><i class="bi bi-info-circle" style=" padding: 0%;"></i> More
              Info</button>
          </div>
        </section>

      </div>
    </section>
  </div>
  <!-- video -->
  <!-- sliders -->
  <div class="slider-box">
    <div class="container-fluid slider">
      <section class="d-flex justify-content-between margin-right">
        <h1 class="text-white"> Trending </h1>
      </section>
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="position: relative; overflow: visible;">
          <div *ngFor="let movie of movies; let isFirst = first" [ngClass]="{'carousel-item': true, 'active': isFirst}"
            data-bs-interval="3000">
            <section class="d-flex">
              <div class="card" *ngFor="let item of movie">
                <img src={{item.posterPath}} class="card-img-top" alt="...">
                <div class="card-body">
                  <section class="d-flex justify-content-between">
                    <span class="text-white"> {{item.title}} </span>
                    <div>
                      <i class="bi bi-play-circle-fill card-icon" style="margin-right: 5px;"></i>
                      <i class="bi bi-plus-circle card-icon"></i>
                    </div>
                  </section>
                  <section class="d-flex align-items-center justify-content-between">
                    <span class="netflix-card-text text-white truncate-3-lines ">{{item.overview}}</span> <span
                      class="border netflix-card-text p-1 text-white">HD</span>

                  </section>
                  <span class="netflix-card-text text-white">
                    <strong class="text-white">Genres: </strong>
                    <ng-container *ngFor="let genre of item.genres; let last = last">
                      {{ genre }}
                      <ng-container *ngIf="!last"> • </ng-container>
                    </ng-container>
                  </span>
                </div>
              </div>
            </section>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <!-- sliders-end -->

  <!-- footer  -->
  <div class="container footer bg-dark">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="row">
          <div class="col-md-3">
            <ul>
              <li>Audio and Subtitle</li>
              <li>Media Center</li>
              <li>Privacy</li>
              <li>Contact Us</li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul>
              <li>Audio description</li>
              <li>Investor Relation</li>
              <li>Terms and Conditions</li>
              <li>Legal Notices</li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul>
              <li>Help Center</li>
              <li>Jobs</li>

            </ul>
          </div>
          <div class="col-md-3">
            <ul>
              <li>Gift card</li>
              <li>Subscription</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="row">

          <div class="col">
            <p class="copy-right">@netflix copyright</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>