@model LoginViewModel
@{
    ViewData["Title"] = "Signin";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

 <div class="login-top">
        <img src="~/images/logo.png" alt="">
    </div>

  <div class="d-flex justify-content-center align-items-center" style="width: 100vw;">
        <section class="login-box">
            <h2 class="text-white">Sign In</h2>
            <form class="mt-4" asp-controller="Auth" asp-action="Login" method="post">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Username">
                    <label for="floatingInput">Username or Email</label>
                </div>

                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword" asp-for="Password">Password</label>
                </div>
                <button type="submit" class="btn btn-danger mt-3 btn-lg" style="width: 100%;">Sign In</button>
                <div class="mb-3 mt-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label text-white small-text" for="exampleCheck1">Remember Me</label>
                </div>
                
                <div class="mt-3 d-flex">
                    <img width="20px" src="~/images/fb.png" alt="">
                    <p class="m-0 small-text text-white mx-2">Login with Facebook</p>
                </div>
                <div class="mt-3 ">
                    <!-- <img width="20px" src="./images/fb.png" alt=""> -->
                    <p class="m-0  text-white"> <span style="color: rgba(212, 212, 212, 0.75);">New to Netflix?</span>  
                        <a asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl"> Sign up now </a>
                    </p>
                    <p class="m-0 small-text text-white  mt-2"> <span style="color: rgba(212, 212, 212, 0.75);">This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#"> Learn more.</a> </span> </p>
                </div>
              </form>
        </section>
    </div>
