@model RegisterViewModel
@{
    ViewData["Title"] = "Signup";
}

<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />

<nav class="navbar navbar-expand-lg navbar-light justify-content-between">
    <a class="navbar-brand" href="#">
        <img src="~/images/logo.png" alt="">
    </a>
    <a class="authLinks"
       asp-controller="Auth"
       asp-action="Login"
       asp-route-returnUrl="@Model.ReturnUrl">
        Sign in
    </a>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <span id="" class="stepIndicator" data-uia="">STEP <b>1</b> OF <b>3</b></span>
            <h1 class="stepTitle" data-uia="stepTitle"><span id="" data-uia="">Welcome back! <br> Joining Netflix is easy.</span></h1>
            <span class="subtitle">Enter your email and password and you'll be watching in no time.</span>
            <form asp-controller="Auth" asp-action="Register" method="post">
                <input type="hidden" asp-for="ReturnUrl" />
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        <i class="fa-solid fa-circle-exclamation" style="color: #c3223b;"></i>
                        @ViewBag.ErrorMessage
                    </div>
                }
                <div class="form-floating my-3">
                    <input type="email"
                           class="form-control"
                           id="floatingInput"
                           placeholder="name@example.com"
                           asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <label class="text-muted" for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password"
                           class="form-control"
                           id="floatingPassword"
                           asp-for="Password"
                           placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <label class="text-muted" for="floatingPassword" asp-for="Password">Password</label>
                </div>
                <a class="link-forgot-password" data-uia="link-forgot-password" href="/LoginHelp">Forgot your password?</a>
                <button type="submit"
                        class="btn btn-danger btn-lg col-12 mb-3 mt-3 py-3"
                        style="width: 100%">
                    Next
                </button>
            </form>
        </div>
    </div>
</div>

